/*************************************************/

/*                    Resets                     */

/*************************************************/

* {
	text-decoration: none;
}

*:active,
*:hover {
	outline: 0;
}

input:not([type]),
input[type="color"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"] {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	float: left;
	font-size: 14px;
	outline: none;
	margin: 10px;
	padding: 10px 0;
	width: 300px;
}

/*************************************************/

/*                     Body                      */

/*************************************************/

a,
a:hover {
	color: #2980b9;
}

body {
	background: url('/assets/bg-pattern.png');
	color: #333;
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/************************************************/

/*                    Header                     */

/*************************************************/

header {
	background: #2980b9;
	padding: 5px 0 0 0;
	position: fixed;
	z-index: 2000;
	width: 100%;
	top: 0;
}

header img {
	float: left;
	height: auto;
	width: 175px;
}

header .wrap {
	min-height: 69px;
}

.wrap {
	max-width: 1140px;
	margin: 0 auto;
}

.logo {
	text-decoration: none;
	color: #2C8197;
	float: left;
}
.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}

/*************************************************/

/*                    Navbar                     */

/*************************************************/

.nav-collapse ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
}
.nav-collapse li {
	width: 100%;
	display: block;
}
.js .nav-collapse {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}
.nav-collapse.opened {
	max-height: 9999px;
}
.disable-pointer-events {
	pointer-events: none !important;
}
.nav-collapse,
.nav-collapse * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-collapse,
.nav-collapse ul {
	list-style: none;
	width: 100%;
	float: left;
}
.nav-collapse li {
	float: left;
	width: 100%;
}
.nav-collapse a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	padding: 0.7em 1em;
	color: #fff;
	width: 100%;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	transition: all 0.5s ease;
}
.nav-collapse a:hover {
	transition: all 0.5s ease;
	cursor: pointer;
}
.nav-collapse ul ul a {
	background: #fff;
	padding-left: 2em;
}
.nav-toggle {
	text-decoration: none;
	text-indent: -300px;
	position: relative;
	overflow: hidden;
	width: 60px;
	height: 40px;
	float: right;
}
.nav-toggle:before {
	color: #fff;
	font: normal 20px/38px "FontAwesome";
	text-transform: none;
	text-align: center;
	position: absolute;
	content: "\f0c9";
	text-indent: 0;
	speak: none;
	width: 100%;
	left: 0;
	top: 5px;
}
.nav-toggle.active:before {
	font-size: 26px;
	content: "\f00d";
}

/*************************************************/

/*                   content                     */

/*************************************************/

.content{
	margin-top: 20px;
}

.introduction {
	position: relative;
	background: #2980b9;
	color: #fff;
	width: 100%;
	padding-bottom: 30px;
	margin: 0 auto;
	/*margin-bottom: 5px;*/
	padding: 11% 0;
}

.statement{
	/*font-family: 'Nunito',sans-serif;*/
	letter-spacing: 3px;
	text-align: center;
}

.statement h1{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	font-weight: 300;
	line-height: 50px;
	margin: 5px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.statement h2{
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 0 0 35px 0;
	font-weight: 100;
}

.statement li{
	/*font-family: 'Roboto', sans-serif;*/
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 20px;
	font-size: 18px;
	/*color: #188848;*/
	letter-spacing: 2px;
	list-style: none;
}

/* Register */

.register {
	max-width: 960px;
	margin: 0 auto;
}

.register input,
.register input[type="email"],
.register input[type="password"],
.register input[type="text"] {
	border: 1px solid #e9e9e9;
	border-radius: 3px;
	float: left;
	font-size: 14px;
	outline: none;
	margin: 10px;
	max-width: 50%;
	padding: 10px 5px;
	width: 300px;
}

.register .wrap {
	float: left;
	padding: 7% 0;
}

.register label {
	float: left;
	font-size: 14px;
	line-height: 1;
	margin: 10px;
	padding: 15px 0;
	width: 110px;
}

.register-field {
	float: left;
	width: 100%;
}

/* Login popup */

.login-popup input[type="email"],
.login-popup input[type="password"] {
	padding: 12px;
	margin: 6px;
	width: 95%;
}

.login-popup button {
	float: none !important;
	margin: 6px !important;
	padding: 12px !important;
	width: 95%;
}

.login-popup p {
	font-size: 14px;
	margin: 10px 0 0 0;
}

/* Features */

.features {
	background-color: #FFF;
	float: left;
	padding: 8% 0 10% 0;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	width: 100%;
}

.features .wrap {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	background: #FFF;
}

.features img {
	border-radius: 50%;
	height: auto;
	padding: 10px;
	width: 125px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.features h3 {
	color: #333;
	font-size: 18px;
	font-weight: 400;
}

.feature-1,
.feature-2,
.feature-3 {
	float: left;
	margin: 25px;
}

.feature-1 img:hover {
	box-shadow: 0 0 0 10px #df2d3c;
}

.feature-2 img:hover {
	box-shadow: 0 0 0 10px #95a5a5;
}

.feature-3 img:hover {
	box-shadow: 0 0 0 10px #13a38d;
}

/* details */

.details{
	float: left;
	background: #eef2f5;
	padding: 10% 0;
	width: 100%;
}

.detail-points{
	/*Bullets on the homepage #home*/
	color: #555;
	font-family: 'Roboto', sans-serif;
	padding: 20px 20px 0px 20px;
	list-style-type:none;
}

.detail-points h3 {
	background-color: #333;
	border-radius: 3px 3px 0 0;
	color: #fff;
	font-size: 28px;
	letter-spacing: -1px;
	margin-top: 0;
	padding: 5px;
	text-align: center;
}

.detail-points p {
	padding: 10px;
	text-align: center;
}

.detail-points .fa {
	color: #c0c0c0;
	font-size: 72px;
	padding: 0;
	text-align: center;
	width: 100%;
}

.detail-points li {
	background-color: #fff;
	border-radius: 3px;
	float: left;
	width: 23%;
	margin: 10px 0 0 2%;
	max-width: 320px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.detail-points .wrap {
	max-width: 960px;
}

/* CTA */

.CTA {
	background-color: #333;
	float: left;
	padding: 20px 0;
	width: 100%;
}

.CTA .wrap {
	max-width: 960px;
}

.CTA h3 {
	color: #fff;
	float: left;
	font-size: 36px;
	margin: 0;
	padding: 15px 0;
}

/* Tooltips */

a.tooltips {
	position: relative;
	display: inline;
}

a.tooltips span {
	position: absolute;
	width:200px;
	color: #FFFFFF;
	background: #000000;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
}

a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}

a:hover.tooltips span {
	visibility: visible;
	opacity: 0.8;
	top: -209px;
	left: 50%;
	margin-left: -100px;
	z-index: 999;
}

.register a.tooltips span:after {
	top: 50%;
	right: 100%;
	left: auto;
	margin-top: -8px;
	margin-left: 0;
	width: 0; height: 0;
	border-left: none;
	border-right: 8px solid #000000;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.register a:focus.tooltips span {
	visibility: visible;
	opacity: 0.8;
	left: 100%;
	top: 50%;
	margin-top: 15px;
	margin-left: 250px;
	z-index: 999;
}

/* Profile page */

.dashboard{
	float: left;
	margin: 0 auto;
	width: 100%
}

.dashboard li {
	text-align: left;
}

.dashboard h3 {
	color: #333;
}
/* 

.dashboard-widget {
	background-color: #0090d9;
}

.dashboard-widget {
	background-color: #0aa699;
}

.dashboard-widget {
	background-color: #f35957;
}

.dashboard-widget {
	background-color: #df577d;
}

.dashboard-widget {
	background-color: #726086;
}
*/

.dashboard .recent-activity {
	background-color: #fff;
	padding: 25px;
}

.dashboard-widget-sidebar {
	background-color: #1b1e24;
	float: left;
	margin: 0;
	padding: 10px;
	text-align: center;
	width: 20%;
	min-width: 220px;
	max-width: 220px;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: 1;
}

.dashboard .main {
	color: #333;
	float: left;
	line-height: 1.625;
	margin: 0 0 20px 275px;
	min-height: 100%;
	width: 1000px;
}

/* 	background-color: #1b1e24;*/

.align-center {
	text-align: center;
}

.dashboard .courses {
	padding: 25px;
}

.dashboard-widget {
	color: #fff;
	float: left;
	height: auto;
	overflow: hidden;
	text-align: center;
	width: 33.33%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.dashboard .widget-inner {
	background-color: #fff;
	color: #333;
	margin: 10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.dashboard .widget-inner:hover {
	background-color: #2980B9;
	color: #fff;
}


.dashboard-widget h4 {
	color: #2d2d2d;
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 30px 10px 10px 10px;
}

.dashboard-widget p {
	color: #666;
}

.widget-inner:hover h4,
.widget-inner:hover p {
	color: #fff;
}

.dashboard-widget p {
	padding: 0 10px 10px 10px;
}

.dashboard .my-courses,
.dashboard .suggested-courses {
	float: left;
	padding: 0 0 10px 0;
}

.dashboard .dashboard-picture img {
	height: auto;
	width: 150px;
}

.my-courses {

}

.dashboard .name {
	color: #333;
	float: none;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.dashboard .dashboard-link {
	border-radius: 2px;
	color: #8B91A0;
	padding: 10px 20px;
	font-size: 16px;
	width: 100%;
	float: left;
	margin: 0;
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.dashboard .dashboard-link:hover {
	background-color: #22262e;
}

.dashboard .profile,
.dashboard .messages,
.dashboard .settings {
	width: 100%;
	float: left;
	margin: 1px auto;
	overflow: hidden;
}

.profile-picture {
	background-color: #fff; 
	padding: 0;
}


.dashboard .profile .dashboard-link:before,
.dashboard .messages .dashboard-link:before,
.dashboard .settings .dashboard-link:before{
	font-family: 'FontAwesome';
	font-size: 20px;
	color: #8B91A0;
	padding-right: 10px;
}

.dashboard .profile .dashboard-link:before {
	content: "\f0e4";
}

.dashboard .messages .dashboard-link:before {
	content: "\f003";
}

.dashboard .settings .dashboard-link:before {
	content: "\f0ad";
}

/*************************************************/

/*                   colors                      */

/*************************************************/

.start{
	/*background: #393939;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.8);*/
	padding: 1% 0 10% 0;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
}
.start label{
	font-size: 18px; 
	/*font-family: 'Roboto', sans-serif;*/
	letter-spacing: 3px;
}

.email-outer{
	background: #fff;
	border-radius: 3px;
	float: none;
	font-size: 16px; 
	/*font-family: 'Roboto', sans-serif;*/
	letter-spacing: 3px;
	color: #188848;
	margin: 10px auto;
	width: 320px;
}

.email-outer:before{
	font-family: 'FontAwesome';
	font-size: 20px;
	content: "\f0e0";
	color: #2980b9;
}

.email-outer:hover:before{
	color: #2980b9;
	opacity: 0.7;
}

.email-outer input{
	border: 0px;
	color: #333;
	float: none;
	outline: none;
	margin: 0;
	padding: 25px 0;
	width: 70%;
}

.email-outer input:focus {
	outline: none;
}

.role-select{
	opacity: 0;
	position: absolute;
	z-index: 5;
}

.role-select  + label {
	cursor: pointer;
	display: inline;
	margin-left: 23px;
}

.role-select  + label:before {
	color: #fff;
	content: "\f111";
	cursor: pointer;
	font: 20px FontAwesome;
	padding-right: 10px;
	vertical-align: middle;
}

.role-select:checked + label {
	color: #188848;
}
.role-select:checked + label:before {
	content: "\f00c";
	color: #188848;
}

.role-select:hover +label:before{
	content: "\f00c";
}

.padded{
	padding: 5px 20px 0px 0px;
}

/*************************************************/

/*                 Footer widgets                */

/*************************************************/

.footer-widgets {
	background-color: #333;
	color: #aaa;
	float: left;
	list-style-type: none;
	padding: 20px 0;
	width: 100%;
}

.footer-widgets .wrap {
	max-width: 960px;
}

.footer-widgets h3 {
	color: #ddd;
	font-weight: 400;
	margin-top: 0;
	width: auto;
}

.footer-widgets a,
.footer-widgets a:hover {
	color: #ddd;
}

.footer-widgets li {
	line-height: 1.5;
}

.footer-widget-1,
.footer-widget-2,
.footer-widget-3 {
	float: left;
	max-width: 330px;
	padding: 10px 25px;
}

.footer-widget-1 img {
	float: left;
	height: 50px;
	padding-right: 5px;
	width: auto;
}

/*************************************************/

/*                    Footer                     */

/*************************************************/

.footer {
	background: #333;
	color: #fff;
	float: left;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	/*box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);*/
}

.footer .wrap {
	border-top: 1px solid #52524e;
	max-width: 800px;
}


/*************************************************/

/*                  Typography                   */

/*************************************************/

.blue-text {
	color: #2980b9;
}
.white-text {
	/*color: #fff;*/
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
}

/*************************************************/

/*                    button                     */

/*************************************************/

.btn {
	border: none;
	font-family: 'FontAwesome';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*font-weight: 700;*/
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	float: right;
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-3 {
	background: rgba(0,0,0,0);
	border-radius: 3px;
	border: 1px solid #fff;
	color: #fff;
	margin: 10px auto;
	padding: 25px 0;
}

.btn-3:hover {
	background: #fff;
	color: #2980b9;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.btn-3e {
	float: none;
	padding: 25px 140px 25px 75px;
	overflow: hidden;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

.btn-flat {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 25px 75px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-background-clip: padding-box;
	box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.2);
}

.btn-flat:active {
	-webkit-background-clip: padding-box;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-CTA {
	background-color: #2980b9;
	border: 2px solid #fff;
	color: #fff;
	float: right;
	margin: 0;
}

.ng-pristine .ng-invalid-required {
	box-shadow: none;
}


.btn-fb,
.btn-twitter,
.btn-gplus {
	border-radius: 2px;
	color: #fff;
	font-weight: 300;
	margin: 10px;
	padding: 7px 30px;
}

.btn-fb {
	background-color: #3B5998;
}

.btn-twitter {
	background-color: #00ACED;
}

.btn-gplus {

}

.btn-register {
	border: none;
	padding: 15px 40px;
	width: 171px;
	margin-right: 75px;
	float: right !important;
}

/*************************************************/

/*                 media queries                 */

/*************************************************/

@media screen and (min-width: 60em) {
	.fa-3x {
		font-size: 3em;
	}
	.logo {
		line-height: 55px;
	}
	.nav-toggle {
		height: 50px;
	}
	.nav-toggle:before {
		font: normal 28px/55px"FontAwesome";
	}
	.nav-collapse ul ul a {
		display: none;
	}
	.nav-collapse a {
		font-size: 15px;
		padding: 25px;
		text-align: center;
		border-top: 0;
		float: left;
		margin: 0;
	}

	.nav-collapse li {
		width: auto;
	}
	.nav-collapse {
		float: right;
		width: auto;
	}
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
	.link-under {
		display: inline-block;
		position: relative;
		padding-bottom: 2px;
	}
	.link-under:after {
		content: '';
		display: block;
		margin: auto;
		margin-top: 2px;
		height: 1px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
	.link-under:hover:after {
		width: 100%;
		background: #fff;
	}
	.nav-collapse a:hover {
		color: #fff;
	}
	.start {
		max-width: 675px;
	}
	.email-outer {
		float: left;
	}

	.btn-3e {
		float: right;
	}

}

@media only screen and (max-width: 960px) {

	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3 {
		float: none;
		margin: 0 auto;
		max-width: 375px;
	}

	.detail-points li {
		float: none;
		margin: 20px auto;
		width: 320px;
	}

	.CTA {
		padding: 20px 5%;
		width: 90%
	}
}

@media only screen and (max-width: 800px) {

	header .wrap {
		border-bottom: none;
	}

	.feature-1,
	.feature-2,
	.feature-3 {
		float: none;
	}

	.nav-collapse a {
		border-bottom: 1px solid #52524e;
	}

	.CTA h3 {
		float: none;
		text-align: center;
		width: 100%;
	}

	.btn-CTA {
		float: none;
		text-align: center;
	}

	.CTA-a {
		float: left;
		text-align: center;
		width: 100%;
	}

}

/* extras */

.headroom--pinned {
	display: block;
}
.headroom--unpinned {
	display: none;
}	

.headroom {
	transition: transform 200ms linear;
}
.headroom--pinned {
	-webkit-transition: all 0.4s ease-in-out;
}
.headroom--unpinned {
	-webkit-transition: all 0.4s ease-in-out;
}

.ngdialog-content {
	text-align: center;
}