/*************************************************/

/*                    Resets                     */

/*************************************************/

* {
	text-decoration: none;
}

*:active,
*:hover {
	outline: 0;
}

/*************************************************/

/*                     Body                      */

/*************************************************/

a,
a:hover {
	color: #2ECC71;
}

body {
	background: #272822;
	font-family: 'Asap', sans-serif;
}

/*************************************************/

/*                    Header                     */

/*************************************************/

header {
	background: #272822;
	padding: 5px 0 0 0;
	position: fixed;
	z-index: 2000;
	width: 100%;
	top: 0;
}

header img {
	float: left;
	height: auto;
	width: 136px;
}

header .wrap {
	border-bottom: 1px solid #52524e;
	min-height: 69px;
}

.wrap {
	max-width: 1280px;
	margin: 0 auto;
}

.logo {
	text-decoration: none;
	color: #2C8197;
	float: left;
}
.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}

/*************************************************/

/*                    Navbar                     */

/*************************************************/

.nav-collapse ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	list-style: none;
}
.nav-collapse li {
	width: 100%;
	display: block;
}
.js .nav-collapse {
	clip: rect(0 0 0 0);
	max-height: 0;
	position: absolute;
	display: block;
	overflow: hidden;
	zoom: 1;
}
.nav-collapse.opened {
	max-height: 9999px;
}
.disable-pointer-events {
	pointer-events: none !important;
}
.nav-collapse,
.nav-collapse * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-collapse,
.nav-collapse ul {
	list-style: none;
	width: 100%;
	float: left;
}
.nav-collapse li {
	float: left;
	width: 100%;
}
.nav-collapse a {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	padding: 0.7em 1em;
	color: #fff;
	width: 100%;
	float: left;
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	transition: all 0.5s ease;
}
.nav-collapse a:hover {
	transition: all 0.5s ease;
	cursor: pointer;
}
.nav-collapse ul ul a {
	background: #fff;
	padding-left: 2em;
}
.nav-toggle {
	text-decoration: none;
	text-indent: -300px;
	position: relative;
	overflow: hidden;
	width: 60px;
	height: 40px;
	float: right;
}
.nav-toggle:before {
	color: #fff;
	font: normal 20px/38px "FontAwesome";
	text-transform: none;
	text-align: center;
	position: absolute;
	content: "\f0c9";
	text-indent: 0;
	speak: none;
	width: 100%;
	left: 0;
	top: 5px;
}
.nav-toggle.active:before {
	font-size: 26px;
	content: "\f00d";
}

/*************************************************/

/*                   content                     */

/*************************************************/

.content{
	margin-top: 60px;
}

.introduction {
	position: relative;
	background: #272822;
	color: #fff;
	width: 100%;
	padding-bottom: 30px;
	margin: 0 auto;
	max-width: 1280px;
	/*margin-bottom: 5px;*/
	padding: 7% 0;
}

.statement{
	/*font-family: 'Nunito',sans-serif;*/
	letter-spacing: 3px;
	padding: 7% 0 1% 0;
	text-align: center;
}

.statement h1{
	color: #fff;
	font-family: 'Asap', sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 50px;
	margin: 30px 0;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.statement h2{
	color: #fff;
	padding: 0 10% 0 10%;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 400;
}

.statement li{
	/*font-family: 'Asap', sans-serif;*/
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 20px;
	font-size: 18px;
	/*color: #188848;*/
	letter-spacing: 2px;
	list-style: none;
}

/* Features */

.features {
	background-color: #FFF;
	float: left;
	padding: 7% 0;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	width: 100%;
}

.features .wrap {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
	background: #FFF;
}

.features img {
	border-radius: 50%;
	height: auto;
	padding: 10px;
	width: 125px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.features h3 {
	color: #272822;
	font-size: 18px;
	font-weight: 400;
}

.feature-1,
.feature-2,
.feature-3 {
	float: left;
	margin: 25px;
}

.feature-1 img:hover {
	box-shadow: 0 0 0 10px #df2d3c;
}

.feature-2 img:hover {
	box-shadow: 0 0 0 10px #95a5a5;
}

.feature-3 img:hover {
	box-shadow: 0 0 0 10px #13a38d;
}

/* details */

.details{
	float: left;
	background: #e9e9e8;
	padding: 7% 0;
	width: 100%;
}

.detail-points{
	/*Bullets on the homepage #home*/
	color: #555;
	font-family: 'Asap', sans-serif;
	padding: 20px 20px 0px 20px;
	list-style-type:none;
}

.detail-points h3 {
	color: #2ECC71;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -1px;
	text-align: center;
}

.detail-points p {
	padding: 0 10px;
	text-align: center;
}

.detail-points .fa {
	color: #c0c0c0;
	font-size: 72px;
	padding: 0;
	text-align: center;
	width: 100%;
}

.detail-points li {
	background-color: #ddd;
	float: left;
	width: 24%;
	max-width: 300px;
	padding: 25px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.detail-points li {
	margin: 1% 0 0 1%;
}

.detail-points .wrap {
	max-width: 1250px;
}

.detail-points li:hover {
	background-color: #fff;
}

.detail-points li:hover h3 {
	color: #CC8914;
}

/* CTA */

.CTA {

}

/* Tooltips */

a.tooltips {
	position: relative;
	display: inline;
}
a.tooltips span {
	position: absolute;
	width:200px;
	color: #FFFFFF;
	background: #000000;
	line-height: 30px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
}
a.tooltips span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.tooltips span {
	visibility: visible;
	opacity: 0.8;
	top: -209px;
	left: 50%;
	margin-left: -100px;
	z-index: 999;
}

/*************************************************/

/*                   colors                      */

/*************************************************/

.start{
	/*background: #393939;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.8);*/
	padding: 1% 0 10% 0;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
}
.start label{
	font-size: 18px; 
	/*font-family: 'Asap', sans-serif;*/
	letter-spacing: 3px;
}

.email-outer{
	background: #fff;
	border-radius: 3px;
	float: none;
	font-size: 16px; 
	/*font-family: 'Asap', sans-serif;*/
	letter-spacing: 3px;
	color: #188848;
	margin: 10px auto;
	width: 320px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.email-outer:before{
	font-family: 'FontAwesome';
	font-size: 20px;
	content: "\f0e0";
	color: #2ECC71;
}

.email-outer:hover:before{
	color: #188848;
}

.email-outer input{
	width: 70%;
	border: 0px;
	padding: 25px 0;
	outline: none;
}

.email-outer input:focus {
	outline: none;
}

.role-select{
	opacity: 0;
	position: absolute;
	z-index: 5;
}

.role-select  + label {
	cursor: pointer;
	display: inline;
	margin-left: 23px;
}

.role-select  + label:before {
	color: #fff;
	content: "\f111";
	cursor: pointer;
	font: 20px FontAwesome;
	padding-right: 10px;
	vertical-align: middle;
}

.role-select:checked + label {
	color: #188848;
}
.role-select:checked + label:before {
	content: "\f00c";
	color: #188848;
}

.role-select:hover +label:before{
	content: "\f00c";
}

.padded{
	padding: 5px 20px 0px 0px;
}

/*************************************************/

/*                 Footer widgets                */

/*************************************************/

.footer-widgets {
	color: #aaa;
	float: left;
	list-style-type: none;
	padding: 40px 0;
	width: 100%;
}

.footer-widgets .wrap {
	max-width: 960px;
}

.footer-widgets h3 {
	color: #ddd;
	font-weight: 400;
	margin-top: 0;
}

.footer-widgets a,
.footer-widgets a:hover {
	color: #ddd;
}

.footer-widgets li {
	line-height: 1.5;
}

.footer-widget-1,
.footer-widget-2,
.footer-widget-3 {
	float: left;
	max-width: 330px;
	padding: 0 25px;
}

.footer-widget-1 img {
	float: left;
	height: 50px;
	padding-right: 5px;
	width: auto;
}

/*************************************************/

/*                    Footer                     */

/*************************************************/

.footer {
	background: #272822;
	color: #fff;
	float: left;
	text-align: center;
	padding: 20px 0;
	width: 100%;
	/*box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8);*/
}

.footer .wrap {
	border-top: 1px solid #52524e;
	max-width: 800px;
}


/*************************************************/

/*                  Typography                   */

/*************************************************/

.blue-text {
	color: #2ECC71;
}
.white-text {
	/*color: #fff;*/
	font-family: 'Asap', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
}

/*************************************************/

/*                    button                     */

/*************************************************/

.btn {
	border: none;
	font-family: 'FontAwesome';
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	float: right;
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-3 {
	background: rgba(0,0,0,0);
	border-radius: 3px;
	border: 1px solid #fff;
	color: #fff;
	margin: 10px auto;
	padding: 25px 0;
}

.btn-3:hover {
	background: #fff;
	color: #272822;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

.btn-3e {
	float: none;
	padding: 25px 140px 25px 75px;
	overflow: hidden;
}

.btn-3e:before {
	left: auto;
	right: 10px;
	z-index: 2;
}

/*************************************************/

/*                 media queries                 */

/*************************************************/

@media screen and (min-width: 60em) {
	.fa-3x {
		font-size: 3em;
	}
	.logo {
		line-height: 55px;
	}
	.nav-toggle {
		height: 50px;
	}
	.nav-toggle:before {
		font: normal 28px/55px"FontAwesome";
	}
	.nav-collapse ul ul a {
		display: none;
	}
	.nav-collapse a {
		font-size: 15px;
		padding: 25px;
		text-align: center;
		border-top: 0;
		float: left;
		margin: 0;
	}

	.nav-collapse li {
		width: auto;
	}
	.nav-collapse {
		float: right;
		width: auto;
	}
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
	.nav-toggle {
		display: none;
	}
	.link-under {
		display: inline-block;
		position: relative;
		padding-bottom: 2px;
	}
	.link-under:after {
		content: '';
		display: block;
		margin: auto;
		margin-top: 2px;
		height: 1px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
	.link-under:hover:after {
		width: 100%;
		background: #fff;
	}
	.nav-collapse a:hover {
		color: #fff;
	}
	.start {
		max-width: 675px;
	}
	.email-outer {
		float: left;
	}

	.btn-3e {
		float: right;
	}

}

@media only screen and (max-width: 960px) {

.footer-widget-1,
.footer-widget-2,
.footer-widget-3 {
	float: none;
	margin: 0 auto;
	max-width: 375px;
}

@media only screen and (max-width: 800px) {

	header .wrap {
		border-bottom: none;
	}

	.feature-1,
	.feature-2,
	.feature-3 {
		float: none;
	}

	.detail-points li {
		float: left;
		margin: 10px 1%;
		padding: 10px;
		width: 44%;
	}

	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3 {
		float: left;
		max-width: 90%;
		padding: 20px;

	}

	.nav-collapse a {
		border-bottom: 1px solid #52524e;
	}
}
