<div class="dashboard" ng-controller="dashboardCtrl">
    <div class="wrap">
        <div class="content">
            <div class="dashboard-widget-1">
               <img class="dashboard-picture" src="/assets/profile-picture.png"><br>
               <div class="dashboard"><a class="dashboard-link" href="#">Dashboard</a></div><br>
               <div class="messages"><a class="dashboard-link" href="#">Messages</a><br></div>
               <div class="settings"><a class="dashboard-link" href="#">Settings</a><br></div>
           </div>
           <div class="dashboard-widget-2">
            <h3>Recommended Courses<h3>
              <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
              </ul>
           </div>
           <div class="dashboard-widget-3">
           </div>
           <div class="dashboard-widget-4">
           </div>
           <div class="dashboard-widget-5">
           </div>
           <div class="dashboard-widget-6">
           </div>
       </div>
   </div>
</div>