<!DOCTYPE html>
<html lang="en" ng-app="yellow">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% include includes.html %>
    <title>Yellow</title>
</head>
<body>
    <div id="top"></div>

    <div ng-controller="NavbarCtrl">
        <header>
            <img style="width:auto;height:50px;margin-left:10%;" src="assets/logo-w.svg">
                <nav class="nav-collapse">
                    <ul id="navig">
                        <li><a href="#top" class="link-under" du-smooth-scroll>Home</a></li>
                        <li><a href="#features" class="link-under" du-smooth-scroll offset="100">Features</a></li>
                        <li><a href="#" class="link-under" du-smooth-scroll offset="100">About</a></li>
                        <li><a href="#" class="link-under" du-smooth-scroll>Courses</a></li>
                        <li><a href="#" class="link-under" du-smooth-scroll>Start</a></li>
                    </ul>
                </nav>
        </header>
        <script>
            var nav = responsiveNav(".nav-collapse", {
                animate: true,
                transition: 500,
                label: "Menu",
                insert: "before",
                customToggle: "",
                closeOnNavClick: true,
                openPos: "relative",
                navClass: "nav-collapse",
                navActiveClass: "js-nav-active",
                jsClass: "js",
                init: function () { },
                open: function () { },
                close: function () { }
            });
        </script>
    </div>
