<ng-include ="'/partials/navbar'"></ng-include>

<div class="content">
    <div class="sky home">
        <div class="centered">
            <h1 class="statement-head">Welcome</h1>
            <a class="statement-head fa fa-play" smooth-scroll target="about"></a>
            <p class="statement-subhead">
                We believe education should be free!
            </p>
        </div>
    </div>
    <div class="sky">
        <div class="cloud">
            <div id="about">
                <span class="fa fa-folder-open-o fa-5x"></span>
                <h1 class="red-text">asda asd as das d asd asd asd asas d</h1>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>mid</p>
                <h1 class="red-text">asda asd as das d asd asd asd asas d</h1>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>end</p>
                <a href="/404">404</a>
            </div>
        </div>
    </div>
    <div class="sky">
        <div class="dark">
            <div id="courses">
                <span class="fa fa-rocket fa-5x red-text">
                </span>
                <h1 class="red-text">asda asd as das d asd asd asd asas d</h1>
                <p>asda asd as das d asd asd asd asas d</p>

                <p>end</p>
            </div>
        </div>
    </div>
    <div class="sky">
        <div class="yellowish">
            <div id="start">
                <span class="fa fa-plus-circle fa-5x red-text"></span>
                <h1>asda asd as das d asd asd asd asas d</h1>
                <p class="red-text">asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>mid</p>
                <h1 class="red-text">asda asd as das d asd asd asd asas d</h1>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>end</p>
            </div>
        </div>
    </div>
    <div class="sky">
        <div class="light">
            <div id="features">
                <span class="fa fa-plus-circle fa-5x red-text"></span>
                <h1>asda asd as das d asd asd asd asas d</h1>
                <p class="red-text">asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>mid</p>
                <h1 class="red-text">asda asd as das d asd asd asd asas d</h1>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>asda asd as das d asd asd asd asas d</p>
                <p>end</p>
            </div>
        </div>
    </div>
</div>