<div class="content">
    <div class="sky home">
        <div class="pure-g-r">
            <div class="pure-u-12-24">
                <div class="banner">
                    <img src="assets/temp.png" />
                </div>
            </div>
            <div class="pure-u-12-24">
                <div class="statement">
                    <h1>Free and Social Learning</h1>
                    <h2>
                        <sup><a class="fa fa-quote-left"></a></sup>
                        We believe Education should be free
                        <sup><a class="fa fa-quote-right"></a></sup>
                    </h2>
                    <br />
                    <p>We believe education should be free. </p>
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="features">
        <div class="pure-g-r">
            <div class="pure-u-12-24">
                <div class="statement">
                    <h1>Free and Social Learning</h1>
                    <h2>
                        <sup><a class="fa fa-quote-left"></a></sup>
                        We believe Education should be free
                        <sup><a class="fa fa-quote-right"></a></sup>
                    </h2>
                    <br />
                    <p>We believe education should be free. </p>
                </div>
            </div>
            <div class="pure-u-12-24">
                <div class="banner">
                    <div style="font-size: 8em; color: #fff; "><i class="fa fa-cloud-download fa-3x"></i></div>
                </div>
            </div>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div id="home"></div>
</div>