<div id="home">
    <div class="home">
        <section id="introduction">
            <div class="introduction">
                <div class="statement">
                    <h1>
                        Learn Teach Share
                    </h1>
                    <h2>Platform for Learners across the world getting together to gain knowledge.</h2>
                </div>
                <div class="start" ng-controller="InviteCtrl">
                    <!--INVITE CONTROLLER-->
                    <div class="wrap">
                        <form ng-submit="clickToInvite(user)" class="start-form">
                            <div class="email-outer">
                                <input type="email" id="email" name="email" ng-model="user.email" placeholder="Your Email Address" required>
                            </div>
                            <button class="btn btn-3 btn-3e fa-{{icon}}" type="submit"><span class="white-text">{{invite}}</i></span></button>
                        </form>
                    </div>
                    <!--INVITE CONTROLLER-->
                </div>
            </div>
        </section>
        <section id="features">
            <div class="features">
                <div class="wrap">
                    <h2>Coolest place to <span>learn</span> & <span>teach</span> on the internet!</h2>
                    <div class="feature-1">
                        <a href="#" class="tooltips"><span>Hundreds of courses to learn from.</span><img src="assets/file-folder-icon.png" alt="Courses"></a>
                        <h3>Learn from our interactive courses</h3>
                        <p>Select from a wide range of subjects & learn in fun way.</p>
                    </div>
                    <div class="feature-2">
                        <a href="#" class="tooltips">
                            <span>Teach others</span><img src="assets/contacts-icon.png" alt="Knowledge"></a>
                            <h3>Teach other people around you</h3>
                            <p>Spread the knowledge to others around you.</p>
                        </div>
                        <div class="feature-3">
                            <a href="#" class="tooltips"><span>Setup cloud school for teaching others.</span><img src="assets/cloud-icon.png" alt="Cloud School"></a>
                            <h3>Setup your own cloud school</h3><p>Setup a cloud school and start giving online lectures.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="CTA">
                <div class="CTA">
                    <div class="wrap">
                        <h3>Ready to get involved?</h3>
                        <a href="#introduction" du-smooth-scroll offset="100" class="CTA-a"><button class="btn-flat btn-CTA">Get started</button></a>
                    </div>
                </section>
                <section id="details">
                    <div class="details">
                        <div class="wrap">
                            <div class="detail-points">
                                <li><h3>Take Online Courses</h3><i class="fa fa-edit padded"></i><p>Join unlimited courses for free, and gain knowledge.</p></li>
                                <li><h3>Share with Others</h3><i class="fa fa-cloud padded"></i><p>Share your knowledge in the form of courses.</p></li>
                                <li><h3>Create Courses & Exams</h3><i class="fa fa-check-square padded"></i><p>Create your own private, public courses & exams.</p></li>
                                <li><h3>Setup a Cloud School</h3><i class="fa fa-university padded"></i><p>Setup an online school and educate others.</p></li>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contact-home">
                    <div class="contact-home">
                        <div class="wrap">
                            <h2>Contact us!</h2>
                            <div class="contact-input">
                                <div class="col">
                                    <input type="text" name="Fname" placeholder="First name">
                                </div>
                                <div class="col">
                                    <input type="text" name="Lname" placeholder="Last name">
                                </div>
                                <div class="col">
                                    <input type="email" name="email" placeholder="Your email">
                                </div>
                            </div>
                            <textarea rows="8" cols="20" placeholder="Your message"></textarea>
                            <div class="contact-button-wrap">
                                <input type="submit" class="btn-flat" value="Send"></input>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
