<script src="/lib/angular/angular.js"></script>
<script src="/lib/angular-resource/angular-resource.js"></script>
<script src="/lib/angular-route/angular-route.js"></script>
<script src="/lib/angular-smoothscroll/dist/scripts/c8742280.scripts.js"></script>
<script src="/lib/angular-loading-bar/build/loading-bar.js"></script>
<script src="/lib/responsive-nav.js"></script>

<script src="/yellow/yellow.js"></script>

<script src="/yellow/controllers/MainCtrl.js"></script>
<script src="/yellow/controllers/CourseCtrl.js"></script>
<script src="/yellow/controllers/LectureCtrl.js"></script>
<script src="/yellow/controllers/LoginCtrl.js"></script>

<script src="/yellow/services/CourseService.js"></script>

<script src="/socket.io/socket.io.js"></script>

<link type="text/css" rel="stylesheet" href="/lib/normalize.css/normalize.css" />
<link type="text/css" rel="stylesheet" href="/lib/purecss/src/grids/css/grids-r.css" />
<link type="text/css" rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css"/>
<link type="text/css" rel="stylesheet" href="/style/style.css" />