<!DOCTYPE html>
<html lang="en" ng-app="yellow">
<head>
    <%- include scripts.html %>

    <!-- Current User Object  -->
    <% if (user) { %>
    <script>
        window.ssu = <%- JSON.stringify(user) %>;
    </script>
    <% } %>

    <title>Open Cloud School</title>
</head>
<body>
    <div id="top"></div>
    <headroom tolerance='5' offset='400'>
        <div ng-controller="NavbarCtrl">
            <!--NAVBAR CONTROLLER-->
            <header>
                <div class="wrap">
                    <img src="/assets/logo-w.svg">
                    <nav class="nav-collapse">
                        <ul id="navig">
                            <li ng-if="onLanding"><a href="#home" class="link-under" du-smooth-scroll offset="100">Home</a></li>
                            <li ng-if="onLanding"><a href="#features" class="link-under" du-smooth-scroll offset="0">Features</a></li>
                            <li ng-if="onLanding"><a href="#" class="link-under" du-smooth-scroll offset="0">About</a></li>
                            <li ng-if="onLanding"><a href="#" class="link-under" du-smooth-scroll offset="0">Contact</a></li>
                            <li ng-if="!session.isAuthenticated()"><a href="#" class="link-under" ng-click="loginPopup()">Login</a></li>
                            <li ng-if="session.isAuthenticated()"><a href="#" class="link-under" ng-click="logout()">LogOut</a></li>
                            <li ng-if="!onLanding"><a href="/" class="link-under" du-smooth-scroll offset="100">Home</a></li>
                            <li ng-if="!onLanding"><a href="/admin" class="link-under">Admin</a></li>
                            <li ng-if="!onLanding"><a href="/dashboard" class="link-under">DashBoard</a></li>
                            <!--Extreme Performance degradation.. remove so many ifs-->
                        </ul>
                    </nav>
                </div>
            </header>
            <!--NAVBAR CONTROLLER-->
        </div>
    </headroom>
    <div class="content">
        <div class="ng-view"></div>
        <div ng-include src="'/partials/footer.html'"></div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-53662354-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>