<div class="ngdialog-buttons">
    <div class="ngdialog-message login-popup">
        <form ng-submit="login(user)" class="start-form">
            <input type="email" id="email" name="email" ng-model="user.email" placeholder="Your Email Address" required>
            <input type="password" id="password" name="password" ng-model="user.password" placeholder="Password" required>
            <button type="submit" class="ngdialog-button ngdialog-button-primary">Login</button>
        </form>
        <p>Forgot your password? <a href="#">Reset it here</a></p>
    </div>
</div>