<div class="profile" ng-controller="profileEditCtrl">
	<div class="wrap">
		<div id="profile" class="profile emil-outer">
			<form method="post">
				<div class="profile-field">
					<label>First Name</label>
					<input type="text" name="firstName" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Last Name</label>
					<input type="text" name="lastName" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Username</label>
					<input type="text" name="username" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Gender</label>
					<input type="text" name="gender" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Tagline</label>
					<input type="text" name="tagline" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Bio</label>
					<textarea cols="35" rows="5" name="bio" required></textarea>
				</div>
				<br/>
				<div class="profile-field">
					<label>Skills</label>
					<input type="text" name="skills" required>
				</div>
				<br/>
				<h4>Social Information</h4>
				<div class="profile-field">
					<label>Facebook URL</label>
					<input type="text" name="fbURL" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Google Plus URL</label>
					<input type="text" name="gplusURL" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Twitter</label>
					<input type="text" name="twitterURL" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Github</label>
					<input type="text" name="githubURL" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Linkedin</label>
					<input type="text" name="linkedinURL" required>
				</div>
				<br/>
				<h4>Change Security Settings</h4>
				<div class="profile-field">
					<label>Email</label>
					<input type="email" name="email" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Password</label>
					<input type="password" name="password" required>
				</div>
				<br/>
				<div class="profile-field">
					<label>Password(confirm)</label>
					<input type="password" name="password" required>
				</div>
				<br/>
				<button class="btn-flat btn-CTA btn-profile" type="submit">Update</button>
			</form>
		</div>
	</div>
</div>