<div class="profile" ng-controller="profileCtrl">
	<div class="profile-value">
		<label>First Name</label>
		<p>Test</p>
	</div>
	<br />
	<div class="profile-value">
		<label>Last Name</label>
		<p>Test</p>
	</div>
	<br />
	<div class="profile-value">
		<label>Email</label>
		<p>Test</p>	
	</div>
	<br />
	<div class="profile-value">
		<label>Password</label>
		<p>Test</p>
	</div>
	<br />
	<div class="profile-value">
		<label>Password(confirm)</label>
		<p>Test</p>
	</div>
	<br />
	<div class="profile-value">
		<label>Username</label>
		<p>Test</p>
	</div>
</div>