<div class="profile" ng-controller="profileCtrl">
	<div class="wrap">
		<div class="profile-value">
			<label>First Name:</label>
			<p>Test</p>
		</div>
		<br/>
		<div class="profile-value">
			<label>Last Name:</label>
			<p>Test</p>
		</div>
		<br/>
		<div class="profile-value">
			<label>Email:</label>
			<p>Test</p>	
		</div>
		<br/>
		<div class="profile-value">
			<label>Username:</label>
			<p>Test</p>
		</div>
		<br/>
		<div class="profile-value">
			<label>Status:</label>
			<p>Teacher/Student</p>
		</div>
		<button class="btn-flat btn-CTA btn-profile" type="submit">Edit Profile</button>
	</div>
</div>