<div class="profile" ng-controller="profileCtrl">
    <div class="wrap">
    <div class="content">
        <div class="main">
        </div>
        <div class="primary-sidebar">
            <div class="profile-picture"><img src="/assets/profile-picture.png"></div>
            <a class="name" href="/{{username}}">Fname Lname</a><br>
            <a class="dashboard" href="#">Dashboard</a><br>
            <a class="messages" href="#">Messages</a><br>
            <a class="settings" href="#">Settings</a><br>
        </div>
    </div>
</div>
</div>