<!--META TAGS-->
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="I just signed up for Open Cloud School beta" />
<meta property="og:description" content="You can also sign up for Open CloudSchool beta by cicking here." />
<meta property="og:image" content="http://opencloudschool.org/assets/fb-og.png" />

<!-- bower:js -->
<script src="/public/lib/angular/angular.js"></script>
<script src="/public/lib/angular-loading-bar/src/loading-bar.js"></script>
<script src="/public/lib/angular-animate/angular-animate.js"></script>
<script src="/public/lib/angular-resource/angular-resource.js"></script>
<script src="/public/lib/angular-route/angular-route.js"></script>
<script src="/public/lib/angular-scroll/angular-scroll.js"></script>
<script src="/public/lib/ngDialog/js/ngDialog.js"></script>
<script src="/public/lib/ng-file-upload/angular-file-upload.js"></script>
<!-- endinject -->

<!--------------- non inject !IMPORTANT ------------>
<script src="/public/yellow/yellow.js"></script>


<!-- inject:js -->
<script src="/public/yellow/services/apiService.js"></script>
<script src="/public/yellow/services/authService.js"></script>
<script src="/public/yellow/services/dialogService.js"></script>
<script src="/public/yellow/services/htmlService.js"></script>
<script src="/public/yellow/services/sessionService.js"></script>
<script src="/public/yellow/controllers/AdminCtrl.js"></script>
<script src="/public/yellow/controllers/CreateCourseCtrl.js"></script>
<script src="/public/yellow/controllers/DashboardCtrl.js"></script>
<script src="/public/yellow/controllers/InviteCtrl.js"></script>
<script src="/public/yellow/controllers/LoginCtrl.js"></script>
<script src="/public/yellow/controllers/MainCtrl.js"></script>
<script src="/public/yellow/controllers/ProfileCtrl.js"></script>
<script src="/public/yellow/controllers/ProfileEditCtrl.js"></script>
<script src="/public/yellow/controllers/RegisterCtrl.js"></script>
<script src="/public/yellow/controllers/SingleCourseCtrl.js"></script>
<script src="/public/yellow/controllers/navbarCtrl.js"></script>
<script src="/public/js/nav.min.js"></script>
<!-- endinject -->


<!-- bower:css -->
<link rel="stylesheet" href="/public/lib/angular-loading-bar/src/loading-bar.css">
<link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="/public/lib/ngDialog/css/ngDialog.css">
<link rel="stylesheet" href="/public/lib/ngDialog/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="/public/lib/normalize.css/normalize.css">
<!-- endinject -->


<!-- inject:css -->
<link rel="stylesheet" href="/public/style/loading-bar.css">
<link rel="stylesheet" href="/public/style/nav.css">
<link rel="stylesheet" href="/public/style/style.css">
<!-- endinject -->