<!--META TAGS-->
<meta name="fragment" content="!">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="I just signed up for Open Cloud School beta" />
<meta property="og:description" content="You can also sign up for Open CloudSchool beta by cicking here." />
<meta property="og:image" content="http://opencloudschool.org/assets/fb-og.png" />
<!---------------- Manual CDN --------------------->
<!-- bower:css -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

<link rel="stylesheet" href="/public/lib/angular-loading-bar/build/loading-bar.min.css">
<link rel="stylesheet" href="/public/lib/ngDialog/css/ngDialog.min.css">
<link rel="stylesheet" href="/public/lib/ngDialog/css/ngDialog-theme-default.min.css">
<!-- endinject -->
<!-- inject:css -->
<link rel="stylesheet" href="/public/app/style.min.css">
<!-- endinject -->
<!-- bower:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
<script src="/public/lib/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="/public/lib/angular-scroll/angular-scroll.min.js"></script>
<script src="/public/lib/ngDialog/js/ngDialog.min.js"></script>
<script src="/public/lib/ng-file-upload/angular-file-upload.min.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/public/app/global.min.js"></script>
<script src="/public/app/scripts.min.js"></script>
<!-- endinject -->