<div class="singlecourse" ng-controller="SingleCourseCtrl">
    <div class="wrap">
        <div class="herobar">
            <div class="courseimage"><img src="/assets/course-image.png"></div>
            <div class="singlecourseinfo">
                <h3>Name of the course: Test</h3>
                <h4>Tags:</h4>
                <p><strong>Description: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac nisi luctus, tempus mauris in, tincidunt justo. Aenean in magna bibendum, accumsan justo et, tincidunt.</p>
            </div>
        </div>
        <div class="content">
            <a href="#">
                <div class="contentbox">
                    Course Files
                </div>
            </a>
            <a href="#">
                <div class="contentbox">
                    Course Videos
                </div>
            </a>
            <a href="#">
                <div class="contentbox">
                    Test
                </div>
            </a>
            <a href="#">
                <div class="contentbox">
                    Test
                </div>
            </a>
            <a href="#">
                <div class="contentbox">
                    Test
                </div>
            </a>
        </div>
        <div class="sidebar">
            <a href="#">
                <div class="sidebar-widget">
                    Test Widget
                </div>
            </a>
            <a href="#">
                <div class="sidebar-widget">
                    Test Widget
                </div>
            </a>
        </div>
    </div>
</div>